* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

body{
  background-color: #593493;
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.home-main-proz{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.home-main-proz-titles{
  align-self: flex-start;
  margin: 0 340px;

}

.home-main-proz-titles{
  margin-bottom: 15px;
}

.section-como-fazemos{
  display: flex;
  gap: 20px;
}

.card-como-fazemos{
  background: url('img/bg_laranja.jpg');
  width: 250px; 
  border-radius: 5px;
  height: 180px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.destaque{
  padding: 10px 10px;
}

.destaque2{
  padding:  20px;
}

.card-como-fazemos:hover{
  scale: 1.04;
  transition: ease-in-out 2s;
}
